<h1><%= t('page_titles.editting_book') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('statements.show_this_book'), @book %> |
  <%= link_to t('statements.back_to_books'), books_path %>
</nav>
